html {
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-family: 'Acme', sans-serif;
  font-size:3em;
  margin: 0 0 10px 0;
  text-align: right;
  border-bottom: 1px solid #444;
  text-align: center;
}

body {
  /*width: 100%;*/
  height: 100%;
  margin: 0px;
  /*margin-bottom: -100px;*/
  /*margin: auto;*/
  background-color: #DDD;
}

.subtitle {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  text-align: justify;
}

#wrapper { min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -30px; }

#footer {
  position: fixed;
  bottom: 0;
  height: 30px;
  background: #bbb;
  color: #fff;
  width: 100%;
}

#canvasesdiv {
  position: relative;
  width: 100%;
  height: 100%;
  /*margin-left: 50px;*/
  margin-bottom: -30px;
}

#TUCWebGL {
  z-index: 1;
  position: absolute;
  left: 0px;
  top: 0px;
  border: none;
  width: 100%;
  height: 100%;
  /*background-image:url('../field_bg.jpg');*/
}

.sidebar {
  background: #2b2b2b;
  color: #CCC;
  width: 250px;
  height: 100%;
  float: left;
}

.sidebar-inner {
  padding: 20px;
}

.content {
  left: 0px;
  /*width: 100%;*/
  height: 100%;
  position: relative;
  overflow: hidden;
  /*resize: both;*/
  /*overflow:auto;*/
  /*margin-right: 10px;*/
  /*margin-bottom: 10px;*/
}

#settingsBtn {
  padding: 3px 6px;
}
/*
@media (min-width: 1200px) {
  .sidebar {
    width: 270px;
  }

}*/